parameters:
    level: 5
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Comparison operation "<=" between [0-9]+ and int<[0-9]+, max> is always true.#'
            path: src/Yasumi/Provider/Turkey.php