<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true"
        >

    <testsuites>
        <testsuite name="Yasumi Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>

        <!-- Test Suite base functionality of Yasumi -->
        <testsuite name="Base">
            <directory suffix="Test.php">./tests/Base</directory>
        </testsuite>

        <!-- Test Suite for holidays in Japan -->
        <testsuite name="Japan">
            <directory suffix="Test.php">./tests/Japan</directory>
        </testsuite>

        <!-- Test Suite for holidays in the Netherlands -->
        <testsuite name="Netherlands">
            <directory suffix="Test.php">./tests/Netherlands</directory>
        </testsuite>

        <!-- Test Suite for holidays in Belgium -->
        <testsuite name="Belgium">
            <directory suffix="Test.php">./tests/Belgium</directory>
        </testsuite>

        <!-- Test Suite for holidays in the USA -->
        <testsuite name="USA">
            <directory suffix="Test.php">./tests/USA</directory>
        </testsuite>

    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/Yasumi</directory>
            <exclude>
                <directory suffix=".php">./src/Yasumi/data</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
