<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of the Yasumi package.
  ~
  ~ Copyright (c) 2015 - 2020 AzuyaLabs
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  ~
  ~ @author Sacha Telgenhof <me@sachatelgenhof.com>
  -->

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
        >
        <testsuites>
            <testsuite name="Yasumi Test Suite">
                <directory suffix="Test.php">./tests</directory>
            </testsuite>

            <!-- Test Suite base functionality of Yasumi -->
            <testsuite name="Base">
                <directory suffix="Test.php">./tests/Base</directory>
            </testsuite>

            <!-- Test Suite for holidays in Australia -->
            <testsuite name="Australia">
                <directory suffix="Test.php">./tests/Australia</directory>
            </testsuite>

            <!-- Test Suite for holidays in Austria -->
            <testsuite name="Austria">
                <directory suffix="Test.php">./tests/Austria</directory>
            </testsuite>

            <!-- Test Suite for holidays in Belgium -->
            <testsuite name="Belgium">
                <directory suffix="Test.php">./tests/Belgium</directory>
            </testsuite>

            <!-- Test Suite for holidays in Bosnia & Herzegovina -->
            <testsuite name="Bosnia">
                <directory suffix="Test.php">./tests/Bosnia</directory>
            </testsuite>

            <!-- Test Suite for holidays in Brazil -->
            <testsuite name="Brazil">
                <directory suffix="Test.php">./tests/Brazil</directory>
            </testsuite>

            <!-- Test Suite for holidays in Canada -->
            <testsuite name="Canada">
                <directory suffix="Test.php">./tests/Canada</directory>
            </testsuite>

            <!-- Test Suite for holidays in Croatia -->
            <testsuite name="Croatia">
                <directory suffix="Test.php">./tests/Croatia</directory>
            </testsuite>

            <!-- Test Suite for holidays in Czechia -->
            <testsuite name="CzechRepublic">
                <directory suffix="Test.php">./tests/CzechRepublic</directory>
            </testsuite>

            <!-- Test Suite for holidays in Denmark -->
            <testsuite name="Denmark">
                <directory suffix="Test.php">./tests/Denmark</directory>
            </testsuite>

            <!-- Test Suite for holidays in Estonia -->
            <testsuite name="Estonia">
                <directory suffix="Test.php">./tests/Estonia</directory>
            </testsuite>

            <!-- Test Suite for holidays in Finland -->
            <testsuite name="Finland">
                <directory suffix="Test.php">./tests/Finland</directory>
            </testsuite>

            <!-- Test Suite for holidays in France -->
            <testsuite name="France">
                <directory suffix="Test.php">./tests/France</directory>
            </testsuite>

            <!-- Test Suite for holidays in Germany -->
            <testsuite name="Germany">
                <directory suffix="Test.php">./tests/Germany</directory>
            </testsuite>

            <!-- Test Suite for holidays in Greece -->
            <testsuite name="Greece">
                <directory suffix="Test.php">./tests/Greece</directory>
            </testsuite>

            <!-- Test Suite for holidays in Hungary -->
            <testsuite name="Hungary">
                <directory suffix="Test.php">./tests/Hungary</directory>
            </testsuite>

            <!-- Test Suite for holidays in Ireland -->
            <testsuite name="Ireland">
                <directory suffix="Test.php">./tests/Ireland</directory>
            </testsuite>

            <!-- Test Suite for holidays in Italy -->
            <testsuite name="Italy">
                <directory suffix="Test.php">./tests/Italy</directory>
            </testsuite>

            <!-- Test Suite for holidays in Japan -->
            <testsuite name="Japan">
                <directory suffix="Test.php">./tests/Japan</directory>
            </testsuite>

            <!-- Test Suite for holidays in Latvia -->
            <testsuite name="Latvia">
                <directory suffix="Test.php">./tests/Latvia</directory>
            </testsuite>

            <!-- Test Suite for holidays in Lithuania -->
            <testsuite name="Lithuania">
                <directory suffix="Test.php">./tests/Lithuania</directory>
            </testsuite>

            <!-- Test Suite for holidays in Luxembourg -->
            <testsuite name="Luxembourg">
                <directory suffix="Test.php">./tests/Luxembourg</directory>
            </testsuite>

            <!-- Test Suite for holidays in Netherlands -->
            <testsuite name="Netherlands">
                <directory suffix="Test.php">./tests/Netherlands</directory>
            </testsuite>

            <!-- Test Suite for holidays in New Zealand -->
            <testsuite name="NewZealand">
                <directory suffix="Test.php">./tests/NewZealand</directory>
            </testsuite>

            <!-- Test Suite for holidays in Norway -->
            <testsuite name="Norway">
                <directory suffix="Test.php">./tests/Norway</directory>
            </testsuite>

            <!-- Test Suite for holidays in Poland -->
            <testsuite name="Poland">
                <directory suffix="Test.php">./tests/Poland</directory>
            </testsuite>

            <!-- Test Suite for holidays in Portugal -->
            <testsuite name="Portugal">
                <directory suffix="Test.php">./tests/Portugal</directory>
            </testsuite>

            <!-- Test Suite for holidays in Romania -->
            <testsuite name="Romania">
                <directory suffix="Test.php">./tests/Romania</directory>
            </testsuite>

            <!-- Test Suite for holidays in Russia -->
            <testsuite name="Russia">
                <directory suffix="Test.php">./tests/Russia</directory>
            </testsuite>

            <!-- Test Suite for holidays in Slovakia -->
            <testsuite name="Slovakia">
                <directory suffix="Test.php">./tests/Slovakia</directory>
            </testsuite>

            <!-- Test Suite for holidays in South Africa -->
            <testsuite name="SouthAfrica">
                <directory suffix="Test.php">./tests/SouthAfrica</directory>
            </testsuite>

            <!-- Test Suite for holidays in South Korea -->
            <testsuite name="SouthKorea">
                <directory suffix="Test.php">./tests/SouthKorea</directory>
            </testsuite>

            <!-- Test Suite for holidays in Spain -->
            <testsuite name="Spain">
                <directory suffix="Test.php">./tests/Spain</directory>
            </testsuite>

            <!-- Test Suite for holidays in Sweden -->
            <testsuite name="Sweden">
                <directory suffix="Test.php">./tests/Sweden</directory>
            </testsuite>

            <!-- Test Suite for holidays in Switzerland -->
            <testsuite name="Switzerland">
                <directory suffix="Test.php">./tests/Switzerland</directory>
            </testsuite>

            <!-- Test Suite for holidays in United States -->
            <testsuite name="USA">
                <directory suffix="Test.php">./tests/USA</directory>
            </testsuite>

            <!-- Test Suite for holidays in Ukraine -->
            <testsuite name="Ukraine">
                <directory suffix="Test.php">./tests/Ukraine</directory>
            </testsuite>

            <!-- Test Suite for holidays in United Kingdom -->
            <testsuite name="UnitedKingdom">
                <directory suffix="Test.php">./tests/UnitedKingdom</directory>
            </testsuite>

        </testsuites>
        <filter>
            <whitelist processUncoveredFilesFromWhitelist="true">
                <directory suffix=".php">./src/Yasumi</directory>
                <exclude>
                    <directory suffix=".php">./src/Yasumi/data</directory>
                </exclude>
            </whitelist>
        </filter>
</phpunit>
