<?xml version="1.0"?>
<!--
  ~ This file is part of the Yasumi package.
  ~
  ~ Copyright (c) 2015 - 2024 AzuyaLabs
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  ~
  ~ @author Sacha Telgenhof <me at sachatelgenhof dot com>
  -->

<psalm
        errorLevel="4"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="https://getpsalm.org/schema/config"
        xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src" />
    </projectFiles>

    <issueHandlers>
      <MethodSignatureMismatch errorLevel="suppress" />
      <MissingTemplateParam errorLevel="suppress" />
      <InvalidArrayOffset errorLevel="suppress" />
    </issueHandlers>

</psalm>
